@using eLections.Models
@model eLections.Models.Election
@{
    ViewBag.Title = "IndexGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>IndexGuest</h2>

<div class="jumbotron">
    <h1>Wybory 2020</h1>
    @if (Model.EndOfElections!=null)
    {

        <p class="lead">Głosowanie zostało zakończone. Poniżej znajdują się wyniki wyborów wraz z listą kandydatów wybranych do sejmu. </p>
    }
    }
    else
    {
        <p class="lead"> Witaj użytkowniku! Strona jest przeznaczona dla Przewodniczących komisji wyborczych, jeśli jesteś jednym z nich zaloguj się! </p>
        <p><a href="/Account/Login" class="btn btn-primary btn-lg">Zaloguj się &raquo;</a></p>

    }

</div>

<div class="row">
    @if (Model.EndOfElections!=null)
    {
        <div class="col-md-12">
            <h2>Sejm</h2>
            <p>
                @foreach (Party party in ViewBag.PartiesInSejm)
                {
                        <div class="square" style="background-color:hsl(@(party.Id*20), 100%, 50%)">
                            <label style="text-align:center">@party.ShortName</label>
                        </div>
                }
            </p>
        </div>
    }
</div>
@if (ViewBag.CurrentElectionCalculated)
{
    <h1 style="text-align:center">Kandydaci wybrani do sejmu:</h1>
    <br>
    <div class="row">
        @foreach (ElectionsApp.Models.Candidate candidate in ViewBag.ElectedCandidates)
        {
            <div class="col-md-4">
                <h2>@candidate.FullName</h2>
                <p>
                    Partia: @candidate.Party.Name
                </p>
                <p>
                    Region: @candidate.Region.Name
                </p>
                <p><a class="btn btn-default" href="https://www.google.com/search?q=@candidate.Name+@candidate.Surname">Learn more &raquo;</a></p>
            </div>
        }
        <div class="col-md-4">
            <h2>Liczba nieprawidłowych głosów:</h2>
            <p></p>
            <h3>
                @ViewBag.InvalidVotes
            </h3>


        </div>
    </div>
}
