@model eLections.Models.ViewModels.ResultsViewModel
@{
    ViewBag.Title = "IndexGuest";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1>Wybory 2020</h1>
    <p class="lead">Głosowanie zostało zakończone. Poniżej znajdują się wyniki wyborów wraz z listą kandydatów wybranych do sejmu. </p>
</div>

<div class="row">
    
    
        <div class="col-md-12">
            <h2>Sejm</h2>
            <p>
                @foreach (var party in Model.Parties)
                {
                    for (int i = 0; i < 10; i++)
                    {
                        <div class="square" style="background-color: hsl(@(party.Id * 20), 100%, 50%)">
                            <label style="text-align: center">@party.ShortName</label>
                        </div>
                    }
                }
            </p>
        </div>
    
</div>


<h1 style="text-align:center">Kandydaci wybrani do sejmu:</h1>
<br>
<div class="row">
    @foreach (var candidate in Model.Candidates)
    {
        <div class="col-md-4">
            <h2>@candidate.FullName</h2>
            <p>
                Partia: @candidate.Party.FullName
            </p>
            <p>
                Region: @candidate.Constituency.Name
            </p>
            <p><a class="btn btn-default" href="https://www.google.com/search?q=@candidate.FullName">Learn more &raquo;</a></p>
        </div>
    }
    <div class="col-md-4">
        <h2>Liczba nieprawidłowych głosów:</h2>
        <p></p>
        <h3>
        </h3>


    </div>
</div>

