@model eLections.Models.Land
@{
    var action = Model == null || Model.Id == 0 ? "Create" : "Edit";
    ViewBag.Title = action;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@action</h2>

@using (Html.BeginForm(action, "Lands"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")
}


